<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
      <script src="{{ url_for('static', filename='js/jQuery.js') }}" charset="utf-8"></script>
      <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" charset="utf-8"></script>

      <title>Catalogo</title>

   </head>

   <body>
      <div class="container">
         <div class="text-center">
            <div class="display-3">
               CATALOGO JUEGOS
            </div>
         </div>
      </div>

      <div class="container text-center ">
         <div class="row d-flex justify-content-center">
            <div class="container m-4 col-md-6 border border-success ">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="text-center">
                           <h3><b>Caza eo</b></h3>
                        </div>
                     </div>
                  </div>
                  <div class="row align-self-center">
                     <div class="col-md-6">
                        <div class="text-center">
                           <img src="" class="img-responsive center-block">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="text-left ">
                           <p>Caza caza_calaveras</p>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="p-1">
                           <a href="{{url_for('juego')}}" class="btn btn-primary">INICIAR</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>

</html>